<div class="main-header">
  <div class="main-name">hogefuga</div>
  <div class="chat-finish">
    <a href="#">チャットを終了する</a>
  </div>
</div>

<div class="main">
  <div class="message">
    <div calss="upper-message">
      <div class="message-user">
        Tom
      </div>
      <div class="message-data">
        2020/3/3(Web) 12:43:30
      </div>
    </div>
    <div class="lower-message">
      <div class="message-text">おはよう</div>
    </div>
  </div>
  <div class="message">
    <div calss="upper-message">
      <div class="message-user">Tom</div>
      <div class="message-data">2020/3/3(Web) 12:47:30</div>
    </div>
    <div class="lower-message">
      <div class="message-text">こんにちは</div>
    </div>
  </div>
</div>
<div class="form">
  <div class="form-input">
    <input class="form-text"  placeholder="Type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
    <input class="form-submit" tyoe="submit" value="送信">
</div>